.banner {
  // height: 240px;
  margin-top: 20px;
  border-radius: 4px;
  overflow: hidden;
  img {
    border-radius: 4px;
  }
  // border-radius: 5px;
}
.tabs {
  margin-bottom: 10px;
}
.home {
  h2 {
    padding: 10px 0;
  }
  .banner-item {
    height: 240px;
    // vertical-align: bottom;
    display: inline-block;
    vertical-align: bottom;
  }
}
.recommend-list {
  .list {
    display: flex;
    flex-wrap: wrap;
    & > div {
      width: calc((100% - 80px) / 5);
      margin-right: 20px;
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .songItem {
    display: flex;
    width: calc((100% - 60px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    .song-pic {
      height: 50px;
      width: 50px;
      img {
        // width: 100%;
        border-radius: 4px;
      }
    }
    .song-text {
      width: calc(100% - 70px);
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div {
        font-size: 14px;
      }
      p {
        font-size: 12px;
        color: var(--text-color-2);
      }
    }
    .icon {
      width: 20px;
      display: flex;
      align-items: center;
    }
  }
}
