.play-detail {
  position: fixed;
  z-index: 100;
  background-color: var(--bg-color-1);
  left: 0;
  right: 0;
  top: var(--head-height);
  bottom: var(--player-height);
  animation: goTop 0.3s ease-in-out;
  padding-top: 20px;
  overflow-y: scroll;
  .comment{
    padding: 20px 40px;
  }
}
@keyframes goTop {
  from {
    top: 100vh;
  }
  to {
    top: var(--head-height);
  }
}
.title-bar {
  text-align: center;
  span {
    margin: 0 5px;
  }
}
.SongDetailInfo {
  display: flex;
  .left {
    padding-left: 60px;
    display: flex;
    align-items: center;
    .song-pic {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      animation: toRotate 20s linear;
      animation-iteration-count: infinite;
      margin-top: 50px;

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url("../../assets/image/singlecover.png") no-repeat 0 0;
        background-size: 300px 300px;
        content: "";
      }

      img {
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        border-radius: 50%;
      }
    }
  }
  .center {
    // width: 350px;
    flex: 1;
    padding-left: 50px;
    position: relative;
    padding: 50px;
  }
}

.lyric-wrap {
  overflow-y: scroll;
  height: 300px;
  position: relative;

  .lyric-item {
    line-height: 40px;
    text-align: center;
    height: 40px;
    &.active {
      color: var(--primary-color);
    }
  }
}

@keyframes toRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lyric {
  .head {
    text-align: center;
    h2{
      margin: 10px 0;
    }
  }
}
