.player {
  height: var(--player-height);
  max-height: var(--player-height);
  border-top: 1px solid var(--border-color-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  .music-info {
    font-size: 14px;
    display: flex;
    img {
      width: 50px;
      border-radius: 4px;
    }
    .text-box {
      padding-left: 10px;
    }
  }
}
.control {
  width: 400px;
  .control-handle {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .prov {
      transform: rotate(180deg);
    }
  }
  .progress-box {
    height: 5px;
    display: flex;
    align-items: center;
    span {
      margin: 5px;
      font-size: 12px;
    }
    .progress {
      width: 100%;
      cursor: pointer;
      transition: height 0.1s;
      position: relative;
      &:hover {
        height: 5px;
        border-radius: 2.5px;
        &::after {
          visibility: visible;
        }
      }
      height: 3px;
      border-radius: 1.5px;
      width: 100%;
      background-color: var(--bg-color-2);
      &::after {
        content: "";
        position: absolute;
        visibility: hidden;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--primary-color);
      }
    }
  }
}
.right-bar{
  .volumeWrap {
    margin-right: 20px;
    position: relative;
    .volumeControl {
      // width: 34px;
      height: 100px;
      border: 1px solid #f00;
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid var(--border-color-1);
      background: var(--bg-color-1);
      box-shadow: var(--box-shadow-1);
      border-radius: 4px;
      visibility: hidden;
      transition: visibility 0.3s;
      padding: 10px;
    }
    .volume-bar {
      width: 3px;
      height: 100%;
      background-color: var(--bg-color-2);
      margin: auto;
    }
    &:hover {
      .volumeControl {
        visibility: visible;
      }
    }
  }
  display: flex;
  align-items: center;
}

