:root {
  .dark {
    --head-bg-color1: #222;
    --border-color-1: #4444;
    --hover-bg-color: rgba(255, 255, 255, 0.03);
    --text-color: #d2d2d2;
    --text-color-2: #878181;
    --bg-color-1: #252525;
    --bg-color-2: #393939;
    --bg-color-3: #2f2f2f;
    --layout-bg-color: #2b2b2b;
    --load-bg-color: #4d4d50;
  }
  .light {
    --head-bg-color1: #f5f5f5;
    --border-color-1: #e0e0e0;
    --hover-bg-color: rgba(0, 0, 0, 0.03);
    --text-color: #333;
    --text-color-2: #666;
    --bg-color-1: #ffffff;
    --bg-color-2: #e5e5e5;
    --bg-color-3: #fafafa;
    --layout-bg-color: #fff;
    --load-bg-color: #cecece;
  }
  --head-height: 50px;
  --sidebar-width: 200px;
  --player-height: 80px;
  --primary-color: #ec4141;
  --box-shadow-1: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 10%) 0px 1px 2px;
}
